// Accureg Typefaces

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

$helvetica: "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", lucida, sans-serif;
$verdana: Verdana, "bitstream vera sans", "Dejavu Sans", "Liberation Sans", Geneva, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$monospace: 'Inconsolata', 'Consolas', Courier, monospace;
$chaparral: "chaparral-pro", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
$proxima: "proxima-nova-n4", "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$source-pro: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4, h5, h6 {font-family: $source-pro;}